<div class="container">
    <div class="row">
        <form [formGroup]="chooseSurveyForm">
            <div class="mx-auto col-md-4 mt-4"  >
                <label for="exampleFormControlInput1" class="form-label">Anket Sec</label>
               <select class="form-select" formControlName="surveyId">
                 <option *ngFor="let survey of surveys" [value]="survey.id">{{survey.name}} </option>
               </select>
                <button type="button" class="btn btn-primary col-md-3 offset-md-9 mt-2" (click)="selectSurvey()"  >Sec</button>
            </div> 
        </form>
    </div>
</div>



